
body
{
	margin:0;
	padding:0;
	overflow: scroll;
	background-color:#D5EBFF;
	font-family: Tahoma;
}

#main
{
	width:960px;
	margin:0px auto;
	padding:10px;
padding-top:0px;
	background-color:#ffffff;
	font-family: Tahoma;
}

#content
{
	margin:10px;
}

.footer
{
	margin:0px;
	padding:10px;
	width:auto;
	height:10px;
	color:#ccc;
	text-align:center;
}

.code
{
    font-family: monospace;
    white-space: pre;
    border-style:solid;
    border-width:1px;
    border-color:#eeeeee;
    background-color:#eee;
    color:#06a;
    margin:10px;
    padding:10px;
}

.output
{
    font-family: monospace;
    white-space: pre;
    border-style:solid;
    border-width:1px;
    border-color:#eeeeee;
    background-color:#000;
    color:#aaa;
    margin:10px;
    padding:10px;
}

.navbutton, .lnavbutton, .rnavbutton
{
	//float:left;
	width:150px;
	height:50px;
	background-color:#000;
	color:#fff;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	text-decoration:none;
}
.rnavbutton
{
	background-color:#0af;
	width:200px;
}

.navbutton:link, .lnavbutton:link, .rnavbutton:link,
.navbutton:visited, .lnavbutton:visited, .rnavbutton:visited
{
	color:#fff;
}

.navbutton:hover, .lnavbutton:hover, .rnavbutton:hover
{ 
	background-color:#eee;
	color:#000;
}

.navbuttongap
{
	width:180px;
	display:table-cell;
	background-color:#000;
	color:#fff;
	vertical-align:middle;
}

.navbuttonbreak
{
	display:table-cell;
	background-color:#000;
	width:1px;
}

.navbuttonbreakinner
{
	width:1px;
	height:20px;
	background-color:#fff;
	margin-top:15px;
}
.othernav, .othernav:a:link, .othernav:a:visited, .othernav:a:hover, .othernav:a:active
{
	color:#000;
	text-decoration:none;
	outline:0;
}
.othernav:link, .othernav:visited, .othernav:hover, .othernav:active
{
	color:#000;
}

.newsitemheader
{
	background-color:#eeeeee;
	padding:10px;
	top-spacing:5px;
	height:20px;
	border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	font-weight:bold;
}

.newsitembody
{
	text-align:justify;
	border-style:solid;
	border-width:1px;
	border-color:#eeeeee;
	padding:10px;
	margin-bottom:20px;
}

img
{
    border: 0px;
}


a:link { color: #B52C07; outline:0; }
a:visited { color: #B52C07; outline:0; }
a:focus { color: #000; outline:0; }
a:hover { color: #7d8206; outline:0; }
a:active { color: red; outline:0; }

h1
{
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

h2
{
	color: #000000;
}

h2 a { text-decoration: none; }

h3
{
	color: #7d8206;
}

hr
{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.boxdiv
{
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: #FFFFFF;
	//box-shadow: 0px 0px 40px #6F9EAC;
}

.complete
{
	background: #aaFFaa;
	text-align: center;
}
.testing
{
	background: #FFFFaa;
	text-align: center;
}
.inprogress
{
	background: #FFccaa;
	text-align: center;
}
.planned
{
	background: #FFaaaa;
	text-align: center;
}
.no
{
	background: #888888;
	text-align: center;
}
.na
{
	background: #eeeeee;
	text-align: center;
}
