
body
{
	margin:0;
	padding:0;
	overflow: scroll;
	background-color:#D5EBFF;
	font-family: Tahoma;
}

#main
{
	width:980px;
	margin:0px auto;
	padding:0px;
padding-top:0px;
	background-color:#ffffff;
	font-family: Tahoma;
}

#content
{
	margin:10px;
}

.outer
{
    margin:auto;
    margin-top:15px;
    width:980px;
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
}

.logobanner
{
    width:980px;
    height:80px;
    margin:auto;
    background-color:white;
}

.contact
{
    display:inline-block;
    position:relative;
    left:410px;
    bottom:20px;
}

.navbar
{
    width:980px;
    position:relative;
}

.inner
{
    width:auto;
    margin:0px;
    padding-top:10px;
}

.footer
{
	margin:0px;
	padding:10px;
	width:auto;
	color:#ccc;
	text-align:center;
}

.code
{
    font-family: monospace;
    white-space: pre;
    border-style:solid;
    border-width:1px;
    border-color:#eeeeee;
    background-color:#f8f8f8;
    color:#06a;
    margin:10px;
    padding:10px;
	overflow-x: auto;
}

.output
{
    font-family: monospace;
    white-space: pre;
    border-style:solid;
    border-width:1px;
    border-color:#eeeeee;
    background-color:#333;
    color:#bbb;
    margin:10px;
    padding:10px;
    overflow-x: auto;
}

.navbutton, .lnavbutton, .rnavbutton
{
	width:150px;
	height:50px;
	background-color:#000;
	color:#fff;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	text-decoration:none;
}
.rnavbutton
{
	background-color:#0af;
	width:200px;
}

.navbutton:link, .lnavbutton:link, .rnavbutton:link,
.navbutton:visited, .lnavbutton:visited, .rnavbutton:visited
{
	color:#fff;
}

.navbutton:hover, .lnavbutton:hover, .rnavbutton:hover
{ 
	background-color:#eee;
	color:#000;
}

.navbuttongap
{
	width:330px;
	display:table-cell;
	background-color:#000;
	color:#fff;
	vertical-align:middle;
}

.navbuttonbreak
{
	display:table-cell;
	background-color:#000;
	width:1px;
}

.navbuttonbreakinner
{
	width:1px;
	height:20px;
	background-color:#fff;
	margin-top:15px;
}
.othernav, .othernav:a:link, .othernav:a:visited, .othernav:a:hover, .othernav:a:active
{
	color:#000;
	text-decoration:none;
	outline:0;
}
.othernav:link, .othernav:visited, .othernav:hover, .othernav:active
{
	color:#000;
}

.newsitemheader
{
    background: #d0d0d0; /* Old browsers */
    background: -moz-linear-gradient(left, #d0d0d0 0%, #ffffff 75%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d0d0d0 0%,#ffffff 75%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d0d0d0 0%,#ffffff 75%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	padding:10px;
	top-spacing:5px;
	height:20px;
	font-weight:bold;
}

.newsitembody
{
	text-align:justify;
	padding:10px;
	margin-bottom:10px;
}

table
{
    border-collapse: collapse;
    margin:10px;
}
th
{
    padding: 5px;
    background-color: #e8e8e8;
    border-bottom: 1px solid black;
}
tr:nth-child(even)
{
    background-color:#f0f0f0;
}
td
{
    padding: 2px 3px 3px 5px;
}

img
{
    border: 0px;
}


a:link { color: #B52C07; outline:0; }
a:visited { color: #B52C07; outline:0; }
a:focus { color: #000; outline:0; }
a:hover { color: #7d8206; outline:0; }
a:active { color: red; outline:0; }

h1
{
    background: #bbbbbb;
    padding: 5px;
    padding-left: 10px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

h2
{
	margin-left: 10px;
	color: #000000;
}

h2 a { text-decoration: none; }

h3
{
	color: #7d8206;
}

hr
{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.complete
{
	background: #aaFFaa;
	text-align: center;
}
.testing
{
	background: #FFFFaa;
	text-align: center;
}
.inprogress
{
	background: #FFccaa;
	text-align: center;
}
.planned
{
	background: #FFaaaa;
	text-align: center;
}
.no
{
	background: #888888;
	text-align: center;
}
.na
{
	background: #eeeeee;
	text-align: center;
}
