# FASTBuild
*.exe
*.fdb
*.log
*.opensdf
*.pdb
*.sdf
*.suo
*.user
fbuild-linux
tmp/
ftmp/
bin/
profile.json

# Temp files
*.bak

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# SDKs
External/SDK/Clang/Windows/3.4/
External/SDK/Clang/Windows/3.6/
External/SDK/Clang/Windows/3.7.1/
External/SDK/Clang/Windows/5.0.1/
External/SDK/Clang/Windows/6.0.0/
External/SDK/Clang/Windows/7.0.1/
External/SDK/Clang/Windows/8.0.0/
External/SDK/Clang/Windows/9.0.0/
External/SDK/Clang/Windows/10.0.0.RC3/
External/SDK/Clang/Windows/11.0.0/
External/SDK/CUDA_6.5.14/
External/SDK/other/
External/SDK/VisualStudio/2013/
External/SDK/VisualStudio/2015/
External/SDK/VisualStudio/2017/
External/SDK/VisualStudio/2019/
External/SDK/Windows/8.1/
External/SDK/Windows/10/

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
